<template>
  <nav class="navbar white lighten-1">
    <main class="nav-wrapper">
      <header class="navbar-left">
        <router-link to="/" class="black-text">
          <h5 class="black-text">dogout</h5>
        </router-link>
      </header>
      <article class="navbar-right">
        <ul class="right">
          <li>
            <a class="dropdown-trigger black-text" href="#" data-target="dropdown" ref="dropdown">
              <i class="material-icons right">menu</i>
            </a>

            <ul id="dropdown" class="dropdown-content">
              <li v-if="name">
                <router-link to="/profile" class="black-text">
                  <!--<img src="@/assets/profile-icon.png" alt class="circle responsive-img" />-->
                  <i class="material-icons">perm_identity</i>
                  {{name}}
                </router-link>
              </li>
              <li class="divider" tabindex="-1"></li>
              <li v-if="name">
                <router-link to="/add-offer" class="black-text">
                  <i class="material-icons">add</i>Add offer
                </router-link>
              </li>

              <li class="divider" tabindex="-1"></li>
              <li>
                <router-link to="/" class="black-text">
                  <i class="material-icons">search</i>Search offers
                </router-link>
              </li>
              <li class="divider" tabindex="-1"></li>

              <li v-if="name">
                <a class="black-text" @click.prevent="logout">
                  <i class="material-icons">logout</i>Logout
                </a>
              </li>

              <li v-if="!name">
                <router-link to="/login" class="black-text">
                  <i class="material-icons">login</i>Login
                </router-link>
              </li>
              <li class="divider" tabindex="-1"></li>
              <li v-if="!name">
                <router-link to="/register" class="black-text">
                  <i class="material-icons">person_add</i>Register
                </router-link>
              </li>
            </ul>
          </li>
        </ul>
      </article>
    </main>
  </nav>
</template>

<script>
// import messages from '@/utils/messages'
export default {
  data: () => ({
    interval: null,
    dropdown: null,
  }),

  components: {},
  mounted() {
    this.dropdown = window.M.Dropdown.init(this.$refs.dropdown, {
      constrainWidth: false,
    })
    // setTimeout(() => {
    //   return this.$store.getters.info.name
    // }, 3000)
  },
  computed: {
    name() {
      return this.$store.getters.info.name
    },
  },

  methods: {
    async logout() {
      await this.$store.dispatch('logout')
      this.$router.push('/login?message=logout')
    },
  },

  beforeDestroy() {
    clearInterval(this.interval)
    if (this.dropdown && this.dropdown.destroy) {
      this.dropdown.destroy()
    }
  },
  // watch: {
  //   error(fbError) {
  //     this.$error(messages[fbError.code] || 'Unknown error')
  //     //  this.$router.push('/login')
  //   },
  // },
}
</script>
<style scoped>
h5 {
  font-weight: 600;
  margin: 0;
}
#menu {
  display: none;
}
@media screen and (max-width: 650px) {
  #menu {
    background: transparent;
    border: none;
    padding: 0 1rem;
    display: block;
  }
}
</style>