<template>
  <div>
    <header class="center-align">
      <h5>Create your offer</h5>
    </header>

    <Loader v-if="loading" />
    <div class="row" v-else>
      <div class="box-form col s12 m12">
        <section class="card-panel white">
          <form class="form" @submit.prevent="handleSubmit">
            <div class="input-field">
              <select ref="select" v-model="location">
                <option v-for="l in locations" :key="l.id" :value="l.id">
                  {{
                  l.title
                  }}
                </option>
              </select>
              <label class="center-align">Choose your city</label>
            </div>

            <label>Choose type of service</label>

            <div class="input-field row">
              <p id="radio" class="col s6 m4" v-for="t in types" :key="t.id">
                <label>
                  <input v-model="type" class="with-gap" :value="t.id" name="group3" type="radio" />
                  <span>{{ t.title }}</span>
                </label>
              </p>
            </div>

            <div id="test-slider">
              <strong for="price">
                Price is
                <big>{{ price | currency("EUR") }}</big>
              </strong>
              <p class="range-field black-text">
                <input type="range" id="range" min="1" max="50" value="10" v-model.number="price" />
              </p>
            </div>

            <div class="input-field">
              <input
                id="description"
                type="text"
                v-model="description"
                :class="{
                  invalid: $v.description.$dirty && !$v.description.required,
                }"
              />
              <label for="description">Description</label>
              <span
                v-if="$v.description.$dirty && !$v.description.required"
                class="helper-text invalid"
              >Write something</span>
            </div>

            <button class="btn teal accent-3 waves-effect waves-light" type="submit">
              Post a offer
              <i class="material-icons right">send</i>
            </button>
          </form>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators'
export default {
  name: 'add-offer',
  data: () => ({
    loading: true,
    select: null,
    locations: [],
    location: null,
    types: [],
    type: null,
    price: 10,
    description: '',
    uid: null,
  }),
  validations: {
    price: { minValue: minValue(1) },
    description: { required },
  },
  computed: {
    name() {
      return this.$store.getters.info.name
    },
    rating() {
      return this.$store.getters.info.rating
    },
  },
  async mounted() {
    this.locations = await this.$store.dispatch('fetchLocations')
    this.types = await this.$store.dispatch('fetchTypes')
    this.uid = await this.$store.dispatch('getUid')

    this.loading = false

    console.log('uid', this.uid)

    if (this.locations.length) {
      this.location = this.locations[0].id
    }
    if (this.types.length) {
      this.type = this.types[0].id
    }

    setTimeout(() => {
      this.select = window.M.FormSelect.init(this.$refs.select)
      window.M.updateTextFields()
    }, 1)
  },
  methods: {
    async handleSubmit() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      try {
        await this.$store.dispatch('createOffer', {
          author_id: this.uid,
          authorName: name,
          location: this.location,
          type: this.type,
          price: this.price,
          // rating: rating,
          description: this.description,
          date: new Date().toJSON(),
        })
        this.$message('Offer created successfully')
        this.$v.$reset()
        this.price = 10
        this.description = ''
      } catch (e) {
        console.log(e)
      }
    },
  },
  destroyed() {
    if (this.select && this.select.destroy) {
      this.select.destroy()
    }
  },
}
</script>
<style scoped>
.card-panel {
  padding: 3rem;
  border-radius: 10px;
}
.btn {
  width: 100%;
}
h5 {
  font-weight: 600;
}
#radio {
  font-size: 0.5rem;
}
.box-form {
  display: flex;
  justify-content: center;
}
big {
  font-weight: 800;
}
</style>
