<template>
  <div>
    <Loader v-if="loading" />
    <main v-else-if="offerInfo">
      <header class="breadcrumb-wrap">
        <router-link v-tooltip="'go back'" to="/" class="breadcrumb">All offers</router-link>
        <a @click.prevent class="breadcrumb">{{offerInfo.typeName}} by {{offerInfo.authorName}}</a>
      </header>
      <div class="row">
        <div class="col s12 l7 m12">
          <article class="card-panel card-info white">
            <DetailInfo :offerInfo="offerInfo" />
          </article>
        </div>
        <div class="col s12 l5 m12">
          <aside class="card-panel card-feedback white">
            <p v-if="!name">
              For add review you need to
              <router-link to="/login">login</router-link>
            </p>
            <DetailReviewBox :offerInfo="offerInfo" />
          </aside>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import DetailReviewBox from '@/components/DetailReviewBox'
import DetailInfo from '@/components/DetailInfo'
export default {
  name: 'detail',
  data: () => ({
    loading: true,
    locations: [],
    types: [],
    users: [],
    userInfo: null,
    offerInfo: null,
    id: null,
  }),
  components: { DetailReviewBox, DetailInfo },
  async mounted() {
    this.locations = await this.$store.dispatch('fetchLocations')
    this.types = await this.$store.dispatch('fetchTypes')
    this.users = await this.$store.dispatch('fetchUsers')

    // this.name = this.$store.getters.info.name
    this.setup()

    this.loading = false
    this.name = this.$store.getters.info.name
  },
  computed: {},
  methods: {
    async setup() {
      this.id = this.$route.params.id
      let offer = await this.$store.dispatch('fetchOfferById', this.id)
      offer = {
        ...offer,
        locationName: this.locations.find(l => l.id === offer.location).title,
        typeName: this.types.find(t => t.id === offer.type).title,
        authorName: this.users.find(u => u.id === offer.author_id).name,
        authorRating: this.users.find(u => u.id === offer.author_id).rating,
        authorPhone: this.users.find(u => u.id === offer.author_id).phone,
      }

      let userInfo = this.users.find(u => u.id === offer.author_id)

      userInfo = {
        ...userInfo,
        ratingTitle:
          userInfo.rating === 0
            ? 'This worker has not yet received reviews'
            : userInfo.rating,
      }

      this.offerInfo = {
        ...userInfo,
        ...offer,
      }

      console.log('offer info', this.offerInfo)
    },
  },
}
</script>
<style scoped>
a {
  font-weight: 600;
}
.breadcrumb-wrap,
.row {
  margin: 1rem 2rem;
}
.card-panel {
  border-radius: 10px;
}

.card-feedback {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 650px) {
  a,
  .breadcrumb-wrap {
    margin: 0.5rem 1rem;
    font-size: 0.7rem;
  }
  .row {
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
  }
}
</style>