<template>
  <main class="box">
    <Loader v-if="loading" />

    <header v-else class="row search-bar">
      <label>1. Choose your city</label>
      <article class="input-field">
        <select ref="select" v-model="location">
          <option v-for="l in locations" :key="l.id" :value="l.id">
            {{
            l.title
            }}
          </option>
        </select>
      </article>
      <label>2. Choose type of service</label>
      <article class="types-list col s12 input-field row">
        <p id="radio" class="col s6 m3" v-for="t in types" :key="t.id">
          <label>
            <input v-model="type" class="type-radio teal accent-3" :value="t.id" type="radio" />
            <span class="choosed-type">{{ t.title }}</span>
          </label>
        </p>
      </article>

      <article class="buttons">
        <div>
          <button @click="search" class="btn blue waves-effect waves-light">
            search
            <i class="material-icons right">search</i>
          </button>
        </div>
        <OffersListButtonsSort
          :isDisabled="isDisabled"
          @search-by-location="searchByLocation()"
          @sort-by-price="sortByPrice()"
          @sort-by-rating="sortByRating()"
        />
      </article>
    </header>

    <section v-if="!loading">
      <p v-if="!allItems.length" class="center-align">
        Offers not found
        <router-link to="/add-offer">Create first</router-link>
      </p>
      <main class="box-offers">
        <SingleOffer v-for="(offer, index) in allItems[0]" :key="index" :offer="offer" />
      </main>
      <!-- <div class="center-align">
        <Paginate
          v-if="allItems.length"
          v-model="page"
          :page-count="pageCount"
          :click-handler="pageChangeHandler"
          :prev-text="'Prev'"
          :next-text="'Next'"
          :section-class="'pagination'"
          :page-class="'waves-effect'" 
        />
      </div>-->
      <footer class="grey darken-4 white-text">
        <small>VladKom.2020</small>
        <a
          target="_blanc"
          href="https://www.linkedin.com/in/vladislav-komarenko-248a7419a/?locale=es_ES"
        >
          <i class="material-icons">person</i> Linkedin
        </a>
        <a target="_blanc" href="https://www.puppybilbao.org/donaciones/">
          <i class="material-icons">pets</i> help dogs in a shelter
        </a>
      </footer>
    </section>
  </main>
</template>

<script>
import paginationMixin from '@/mixins/pagination.mixin'
import SingleOffer from '@/components/SingleOffer'
import OffersListButtonsSort from '@/components/OffersListButtonsSort'
//import {Bar} from 'vue-chartjs'

export default {
  name: 'OffersList',

  mixins: [paginationMixin],
  data: () => ({
    loading: true,
    offers: [],
    locations: [],
    location: '00001',
    types: [],
    type: '00001',
    users: [],
    isDisabled: true,
  }),
  async mounted() {
    this.offers = (await this.$store.dispatch('fetchAllOffers')).reverse()
    this.locations = await this.$store.dispatch('fetchLocations')
    this.locations = this.locations.sort(function(a, b) {
      return a.title - b.title
    })
    this.types = await this.$store.dispatch('fetchTypes')
    this.users = await this.$store.dispatch('fetchUsers')
    console.log(this.users, 'users')

    this.loading = false

    this.setup()
  },
  methods: {
    setup() {
      setTimeout(() => {
        this.select = window.M.FormSelect.init(this.$refs.select)
        window.M.updateTextFields()
      }, 1)

      this.setupPagination(
        this.offers.map(offer => {
          return {
            ...offer,
            locationName: this.locations.find(l => l.id === offer.location)
              .title,
            typeName: this.types.find(t => t.id === offer.type).title,
            authorName: this.users.find(u => u.id === offer.author_id).name,
            authorRating: this.users.find(u => u.id === offer.author_id).rating,
          }
        })
      )
      this.loading = false
    },
    async search() {
      this.offers = await this.$store.dispatch('fetchAllOffers')
      this.offers = this.offers.filter(offer => offer.type == this.type)
      this.offers = this.offers.filter(offer => offer.location == this.location)
      this.setup()
    },
    async searchByLocation() {
      console.log('l id', this.location, this.location)
      this.offers = await this.$store.dispatch(
        'fetchOffersByLocation',
        this.location
      )
      this.setup()
    },
    sortByPrice() {
      this.offers = this.offers.sort(function(a, b) {
        return a.price - b.price
      })
      console.log('sort by price', this.offers)
      this.setup()
      this.$message('Successfully sorted')
    },
    sortByRating() {
      this.offers = this.offers.sort(function(a, b) {
        return a.authorRating + b.authorRating
      })
      console.log('sort by rating', this.offers)
      this.setup()
      this.$message('Successfully sorted')
    },
  },
  components: {
    SingleOffer,
    OffersListButtonsSort,
  },
}
</script>
<style scoped>
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.btn {
  margin: 0.2rem;
  border: none;
}
.search-bar {
  padding: 2rem 7rem 1rem 7rem;
  background: rgb(236, 236, 236);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 2px solid rgb(211, 211, 211);
}
.box-offers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 6rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
footer i {
  font-size: 1rem;
}
#radio {
  font-size: 0.7rem;
  margin: 0;
}
@media (min-width: 650px) and (max-width: 1000px) {
  .box-offers {
    margin: 1rem 3rem;
  }
}
@media screen and (max-width: 650px) {
  section {
    align-items: space-between;
  }
  .box-offers {
    flex-direction: column;
    margin: 0rem;
  }
  .search-bar {
    padding: 1rem 2rem;
  }
  .buttons {
    padding: 0.2rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  select {
    font-size: 0.7rem;
  }
  i {
    font-size: 1.3rem;
  }
  #radio {
    font-size: 0.4rem;
    padding: 0.3rem;
  }
}
</style>