<template>
  <div class="row">
    <header class="page-title col s12">
      <h5 class="left-align">My profile</h5>
    </header>
    <aside class="nav col s12 m12 l3">
      <button
        v-for="(button, index) in buttons"
        :key="index"
        class="navbtn btn transparent black-text"
        :class="{ disabled: button.isDisabled }"
        @click="showContent(`${button.content}`)"
      >
        <i class="material-icons left">{{button.icon}}</i>
        {{button.title}}
      </button>
    </aside>
    <section class="content col s12 m12 l9">
      <ProfilePageInfoUser v-if="content == 'infoUser'" />
      <ProfilePageOffersUser v-if="content == 'offersUser'" />
      <ProfilePageReviewsUser v-if="content == 'reviewsUser'" />
    </section>
  </div>
</template>

<script>
import ProfilePageInfoUser from '@/components/ProfilePageInfoUser'
import ProfilePageOffersUser from '@/components/ProfilePageOffersUser'
import ProfilePageReviewsUser from '@/components/ProfilePageReviewsUser'
export default {
  name: 'profile-page',
  data: () => ({
    content: 'infoUser',
    buttons: [
      {
        title: 'personal info',
        icon: 'person',
        content: 'infoUser',
        isDisabled: false,
      },
      {
        title: 'my offers',
        icon: 'work',
        content: 'offersUser',
        isDisabled: false,
      },
      {
        title: 'reviews',
        icon: 'star',
        content: 'reviewsUser',
        isDisabled: false,
      },
      {
        title: 'notifications',
        icon: 'notifications',
        content: 'notifications',
        isDisabled: true,
      },
      {
        title: 'saved offers',
        icon: 'bookmark',
        content: 'saved',
        isDisabled: true,
      },
    ],
  }),
  components: {
    ProfilePageInfoUser,
    ProfilePageOffersUser,
    ProfilePageReviewsUser,
  },
  mounted() {},
  computed: {},
  methods: {
    showContent(name) {
      this.content = name
    },
  },
}
</script>

<style scoped>
.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h5 {
  font-weight: 600;
  margin: 2rem;
}
.nav {
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
}
button {
  margin: 1rem 7.5%;
  width: 85%;
  font-size: 0.7rem;
}
button:focus {
  border-bottom: 2px solid teal;
}
button:focus i {
  color: teal;
}
@media (min-width: 600px) and (max-width: 1000px) {
  .nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    width: 100%;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    width: 19%;
    height: 3rem;
    font-size: 0rem;
    border-radius: 0;
  }
  i {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    width: 100%;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    width: 19%;
    height: 3rem;
    font-size: 0rem;
    border-radius: 0;
  }
  i {
    margin-right: 0;
  }
}
</style>
