<template>
  <form class="card auth-card" @submit.prevent="submitHandler">
    <div class="card-content">
      <span class="card-title">dogout</span>
      <div class="input-field">
        <input
          id="email"
          type="text"
          v-model.trim="email"
          :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
        />
        <label for="email">Email</label>
        <small
          class="helper-text invalid"
          v-if="$v.email.$dirty && !$v.email.required"
        >Write your email</small>
        <small
          class="helper-text invalid"
          v-else-if="$v.email.$dirty && !$v.email.email"
        >Write correct Email</small>
      </div>
      <div class="input-field">
        <input
          id="phone"
          maxlength="12"
          type="text"
          placeholder="642052137 example"
          v-model.trim="phone"
          :class="{invalid: ($v.phone.$dirty && !$v.phone.required) || ($v.phone.$dirty && !$v.phone.minLength)}"
        />
        <label class="active" for="password">Phone number</label>
        <small
          class="helper-text invalid"
          v-if="$v.phone.$dirty && !$v.phone.required"
        >Write phone number</small>
        <small
          class="helper-text invalid"
          v-else-if="$v.phone.$dirty && !$v.phone.minLength"
        >Phone number must be more than {{$v.password.$params.minLength.min}} symbols.</small>
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          v-model.trim="password"
          :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
        />
        <label for="password">Password</label>
        <small
          class="helper-text invalid"
          v-if="$v.password.$dirty && !$v.password.required"
        >Write password</small>
        <small
          class="helper-text invalid"
          v-else-if="$v.password.$dirty && !$v.password.minLength"
        >Password must be {{$v.password.$params.minLength.min}} symbols. Now it is {{password.length}}</small>
      </div>
      <div class="input-field">
        <input
          id="name"
          type="text"
          v-model="name"
          :class="{invalid: $v.name.$dirty && !$v.name.required}"
        />
        <label for="name">Name</label>
        <small class="helper-text invalid" v-if="$v.name.$dirty && !$v.name.required">Your name</small>
      </div>
      <p>
        <label>
          <input type="checkbox" v-model="agree" />
          <span>Agree with rules</span>
          <small class="helper-text invalid" v-if="!this.agree">It is necessary</small>
        </label>
      </p>
    </div>
    <div class="card-action">
      <div>
        <button
          class="btn waves-effect green waves-light auth-submit"
          type="submit"
          :disabled="disabled"
        >
          Register new account
          <i class="material-icons right">create</i>
        </button>
        <div v-if="disabled" class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>

      <p class="center">
        Already have an account
        <router-link to="/login">Login to account</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import { email, required, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  name: 'register',
  data: () => ({
    email: '',
    password: '',
    name: '',
    phone: '',
    agree: false,
    disabled: false,
  }),
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) },
    phone: { required, minLength: minLength(8), maxLength: maxLength(12) },
    name: { required },
    agree: { checked: v => v },
  },
  methods: {
    async submitHandler() {
      this.disabled = true
      if (this.$v.$invalid) {
        this.disabled = false
        this.$v.$touch()
        return
      }

      const formData = {
        email: this.email,
        password: this.password,
        name: this.name,
        phone: this.phone,
        photo_url: '',
      }

      try {
        await this.$store.dispatch('register', formData)
        this.$router.push('/')
        this.$message(`Welcome to dogout app`)
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>