<template>
  <section class="list">
    <!--  <div v-if="reviews" class="buttons-sort">
      <button
        @click="sortBadAtFirst"
        class="button-sort transparent waves-effect waves-light red-text"
      >
        <i class="material-icons left">sentiment_very_dissatisfied</i>Bad at first
      </button>

      <button
        @click="sortGoodAtFirst"
        class="button-sort transparent waves-effect waves-light green-text"
      >
        <i class="material-icons left">sentiment_very_satisfied</i>Good at first
      </button>
    </div>-->
    <small v-if="reviews.length !== 0">{{this.reviews.length}} reviews</small>
    <div v-if="loading">
      <i class="material-icons left">error_outline</i>loading ...
    </div>

    <article
      class="white review-card"
      v-else-if="reviews"
      v-for="(review, index) in this.reviews"
      :key="index"
    >
      <p>
        <i class="material-icons left">person_outline</i>
        {{ review.authorName }}
      </p>

      <p>
        <i class="material-icons left star">star</i>
        {{ review.grade }}
      </p>

      <p>
        <i class="material-icons left">chat_bubble_outline</i>
        <small>{{ review.description }}</small>
      </p>
    </article>
    <div v-else-if="reviews == 0">
      <i class="material-icons left">error_outline</i> not found
    </div>
  </section>
</template>
<script>
export default {
  name: 'detail-reviews-list',
  props: ['offerInfo'],
  data() {
    return {
      loading: true,
      reviews: [],
      users: [],
    }
  },
  mounted() {
    setTimeout(() => {
      this.setup()
    }, 1000)
  },
  methods: {
    async setup() {
      this.reviews = await this.$store.dispatch(
        'fetchReviewsUserRecipient',
        this.offerInfo.author_id
      )
      this.users = await this.$store.dispatch('fetchUsers')

      this.reviews.map(review => {
        return {
          ...review,
          authorName: this.users.find(u => u.id === review.author_review_id)
            .name,
        }
      })
      this.reviews = this.reviews.reverse()
      console.log(this.reviews, this.reviews, this.users)
      this.loading = false
    },
    // sortBadAtFirst() {
    //   this.reviews = this.reviews.sort(function(a, b) {
    //     return a.grade - b.grade
    //   })
    //   console.log(this.reviews)
    // },
    // sortGoodAtFirst() {
    //   this.reviews = this.reviews.sort(function(a, b) {
    //     return a.grade + b.grade
    //   })
    //   console.log(this.reviews)
    // },
  },
}
</script>
<style scoped>
.review-card {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 30px 30px 30px 0;
}
.list {
  max-height: 45vh;
  overflow: auto;
}
.star {
  color: orange;
}
.button-sort {
  display: flex;
  align-items: center;
  border-style: none;
  padding: 0.3rem;
  margin: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.buttons-sort {
  display: flex;
  justify-content: space-around;
}
i {
  font-size: 1.5rem;
}
</style>
