<template>
  <main>
    <article class="grade-form">
      <button class="star" @click="getGrade(g)" v-for="g in grades" :key="g">
        <i v-if="grade >= g" class="material-icons">star</i>
        <i v-if="grade < g" class="material-icons">star_outline</i>
      </button>
    </article>
    <strong>You rated {{offerInfo.authorName}} at {{this.grade}} stars.</strong>
    <div class="input-field">
      <input
        maxlength="200"
        id="description"
        type="text"
        v-model="description"
        :class="{
                  invalid: $v.description.$dirty && !$v.description.required,
                }"
      />
      <label for="description">Comments</label>
      <span
        v-if="$v.description.$dirty && !$v.description.required"
        class="helper-text invalid"
      >Write something</span>
    </div>
    <button @click="handlerFormReview" class="btn red col s5">
      cancel
      <i class="material-icons right">close</i>
    </button>
    <button @click="handleSubmit" class="btn green col s5">
      send
      <i class="material-icons right">send</i>
    </button>
  </main>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'detail-review-form',
  props: ['offerInfo'],
  data: () => ({
    loading: true,
    uid: null,
    grades: [1, 2, 3, 4, 5],
    grade: 5,
    description: '',
  }),
  validations: {
    description: { required },
  },
  computed: {
    name() {
      return this.$store.getters.info.name
    },
  },
  async mounted() {
    this.uid = await this.$store.dispatch('getUid')
    this.loading = false
  },
  methods: {
    handlerFormReview() {
      this.$emit('hide-form')
    },
    getGrade(number) {
      this.grade = number
    },
    async handleSubmit() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      try {
        let review = {
          author_review_id: this.uid,
          recipient: this.offerInfo.author_id,
          offer_id: this.offerInfo.id,
          authorName: this.name,
          grade: this.grade,
          description: this.description,
          date: new Date().toJSON(),
        }
        console.log(review, 'review')
        await this.$store.dispatch('createReview', review)
        // POST  post users/offerInfo.author_id/reviews
        this.$message('Review created successfully')
        this.$v.$reset()
        this.grade = 5
        this.description = ''
        this.$emit('hide-form')
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>
<style scoped>
button {
  margin: 0.5rem;
  border: none;
  cursor: pointer;
}
i {
  margin: 0;
  padding: 0;
}
.star {
  margin: 0;
  background: none;
  color: orange;
}
strong {
  margin: 0rem;
}
.grade-form {
  margin: 1rem 0;
}
</style>