<template>
  <main>
    <header v-if="!formIsOpen" class="card-content black-text">
      <h6>Reviews about {{offerInfo.authorName}}</h6>
    </header>
    <section v-if="!formIsOpen" class="content grey lighten-3">
      <article class="reviews-list">
        <DetailReviewsList :offerInfo="offerInfo" />
      </article>
    </section>
    <small v-if=" this.offerInfo.author_id == this.uid ">(!) You can't create review about yourself</small>
    <button
      v-if="!formIsOpen"
      :class="{ disabled: this.offerInfo.author_id == this.uid || !name }"
      @click="handlerFormReview"
      class="btn blue col s12 m6"
    >
      add review
      <i class="material-icons right">add</i>
    </button>

    <section v-if="formIsOpen" class="form-review-box">
      <header class="card-content black-text">
        <h6>Leave your review</h6>
      </header>
      <DetailReviewForm :offerInfo="offerInfo" @hide-form="formIsOpen = !formIsOpen" />
    </section>
  </main>
</template>
<script>
import DetailReviewForm from '@/components/DetailReviewForm'
import DetailReviewsList from '@/components/DetailReviewsList'
export default {
  name: 'detail-review',
  props: ['offerInfo'],
  data: () => ({
    loading: true,
    reviews: null,
    uid: null,
    formIsOpen: false,
  }),
  components: { DetailReviewForm, DetailReviewsList },
  async mounted() {
    this.uid = await this.$store.dispatch('getUid')
    this.loading = false
  },
  computed: {
    name() {
      return this.$store.getters.info.name
    },
  },
  methods: {
    handlerFormReview() {
      this.formIsOpen = this.formIsOpen == true ? false : true
    },
  },
}
</script>
<style scoped>
.content {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}
h6 {
  font-weight: 600;
  margin-bottom: 2rem;
}
small {
  padding: 0.5rem;
}
button {
  margin-top: 0.5rem;
}
</style>
