<template>
  <div>
    <Loader v-if="loading" />
    <main v-else class="card-content black-text">
      <h6>Offer of {{offerInfo.typeName}}</h6>
      <section class="row grey lighten-3">
        <div class="foto">
          <img src="@/assets/profile-icon.png" alt class="circle responsive-img" />
        </div>
        <article class="info-worker">
          <p class="worker-name">{{offerInfo.authorName}}</p>
          <p class="strong-text">
            <i class="material-icons left star">star</i>
            <small>{{offerInfo.ratingTitle}}</small>
          </p>
          <small class="strong-text">
            <i class="material-icons left location">location_on</i>
            {{offerInfo.locationName}}
          </small>
        </article>
      </section>
      <section class="row">
        <article class="info-offer">
          <footer class="price-and-type grey lighten-2">
            <p>
              <i class="material-icons left">local_offer</i>
              {{offerInfo.typeName}}
            </p>
            <big>
              <i class="material-icons left">monetization_on</i>
              {{offerInfo.price | currency("EUR")}}
            </big>
          </footer>
          <p class="description">{{offerInfo.description}}</p>
          <!-- <small>Publication date: {{offerInfo.date | date('datetime')}}</small> -->
          <div class="row buttons">
            <button @click="showNumber = !showNumber" class="btn blue">
              <small v-if="!showNumber">show number</small>
              <small v-else>{{offerInfo.authorPhone}}</small>

              <i class="material-icons left">call</i>
            </button>
            <button disabled class="btn blue">
              send message
              <i class="material-icons left">message</i>
            </button>
          </div>
        </article>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  name: 'detail-info',
  props: ['offerInfo'],
  data: () => ({
    loading: true,
    showNumber: false,
  }),
  mounted() {
    console.log(this.offerInfo.authorPhone)
    this.loading = false
  },
}
</script>
<style scoped>
h6 {
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
img {
  width: 6rem;
  height: auto;
}
i {
  font-size: 1.5rem;
}
big {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.location {
  color: red;
}
.star {
  color: orange;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
}
.buttons {
  margin: 1rem 0;

  justify-content: center;
}
button {
  width: 48%;
  margin: 0 1%;
}
.foto {
  margin: 2rem 2rem 2rem 0;
}
.info-worker {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0rem;
  flex-direction: column;
}
.info-offer {
  display: flex;
  align-items: stretch;
  justify-content: start;
  margin: 0rem;
  flex-direction: column;
  width: 100%;
}
.price-and-type {
  display: flex;
  justify-content: space-around;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0 0 5px 5px;
  width: 100%;
}
.strong-text {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}
.worker-name {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}
.description {
  padding: 1rem;
}
@media screen and (max-width: 650px) {
  .foto {
    margin: 1rem 1rem 1rem 0;
  }
  .info-worker {
    font-size: 1rem;
  }
}
</style>
