<template>
  <article class="buttons-sort">
    <button
      v-tooltip="'Show all offers by location'"
      @click="searchByLocation"
      class="button-sort waves-effect waves-light"
    >
      <i class="material-icons">location_on</i>
    </button>
    <button
      v-tooltip="'Sort by price'"
      class="button-sort waves-effect waves-light"
      @click="sortByPrice"
    >
      <i class="material-icons">sort</i>
    </button>
    <button
      v-tooltip="'Sort by rating'"
      :disabled="isDisabled"
      class="button-sort waves-effect waves-light"
      :class="{ disabled: isDisabled }"
      @click="sortByRating"
    >
      <i class="material-icons">grade</i>
    </button>
  </article>
</template>
<script>
export default {
  name: 'offers-list-buttons-sort',
  props: ['isDisabled'],
  methods: {
    searchByLocation() {
      this.$emit('search-by-location')
    },
    sortByPrice() {
      this.$emit('sort-by-price')
    },
    sortByRating() {
      this.$emit('sort-by-rating')
    },
  },
}
</script>
<style scoped>
.buttons-sort {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.button-sort {
  background: rgb(255, 255, 255);
  color: #000;
  cursor: pointer;
  border: none;
  margin: 0 0.5rem;
  border-radius: 25px;
  display: flex;
  font-size: 0.3rem;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
}
.button-sort:hover {
  color: white;
  background: teal;

  transition: 0.5s;
}
.button-sort.disabled {
  color: #c7c7c7;
}
.button-sort.disabled:hover {
  color: #c7c7c7;
  background: #fff;
  cursor: default;
}

@media screen and (max-width: 650px) {
  .button-sort {
    width: 1.5rem;
    height: 1.5rem;
  }
  i {
    font-size: 1.3rem;
  }
}
</style>
