<template>
  <main class="row">
    <Loader v-if="loading" />
    <section v-else class="reviews-box grey lighten-3 col s12">
      <header>
        <h6>Reviews about you</h6>
      </header>
      <article class="single-offer white">
        <p v-if="!reviews.length">You do not have reviews.</p>
        <ul v-else class="collection with-header">
          <li class="collection-header">
            <h6>{{reviews.length}} reviews</h6>
          </li>
          <li class="collection-item">
            <div>
              Alvin
              <a href="#!" class="secondary-content">
                <i class="material-icons">send</i>
              </a>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </main>
</template>

<script>
export default {
  data: () => ({
    loading: true,
    name: null,
    uid: null,
    reviews: [],
  }),

  mounted() {
    this.setup()
  },
  methods: {
    async setup() {
      this.name = await this.$store.getters.info.name
      this.uid = await this.$store.dispatch('getUid')
      this.reviews = await this.$store.dispatch(
        'fetchReviewsUserRecipient',
        this.uid
      )
      try {
        this.loading = false
      } catch (error) {
        console.log(error)
        this.loading = false
      }
    },
  },
}
</script>
<style scoped>
.row {
  margin: 0 2vw;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 10px;
}
article {
  margin: 1rem 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
</style>