<template>
  <main class="row">
    <Loader v-if="loading" />
    <section v-else class="offers-box grey lighten-3 col s12">
      <header>
        <h6>Offers by {{name}}</h6>
      </header>
      <article class="single-offer white">
        <p v-if="!offers.length">
          You do not have offers.
          <router-link to="/add-offer">Create first.</router-link>
        </p>
        <ul v-else class="collection with-header">
          <li class="collection-header">
            <small class="left-align">{{offers.length}} offers</small>
          </li>
          <li v-for="(offer, index) in offers" :key="index" class="collection-item">
            <p>{{offer.typeName}}</p>
            <p>{{offer.price | currency("EUR")}}</p>
            <small>{{offer.date | date("date") }}</small>
            <a class="secondary-content">
              <i v-tooltip="'Options'" class="material-icons">more_vert</i>
            </a>
          </li>
        </ul>
      </article>
    </section>
  </main>
</template>

<script>
export default {
  data: () => ({
    loading: true,
    name: null,
    uid: null,
    offers: [],
  }),

  mounted() {
    this.setup()
  },
  methods: {
    async setup() {
      this.name = await this.$store.getters.info.name
      this.uid = await this.$store.dispatch('getUid')
      this.locations = await this.$store.dispatch('fetchLocations')
      this.types = await this.$store.dispatch('fetchTypes')
      this.offers = await this.$store.dispatch('fetchOffersByUser', this.uid)
      this.offers = this.offers.map(offer => {
        return {
          ...offer,
          locationName: this.locations.find(l => l.id === offer.location).title,
          typeName: this.types.find(t => t.id === offer.type).title,
        }
      })
      this.loading = false
    },
  },
}
</script>
<style scoped>
.row {
  margin: 0 2vw;
}
.collection-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 10px;
}
article {
  margin: 1rem 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
i {
  cursor: pointer;
}
</style>