<template>
  <main class="row">
    <Loader v-if="loading" />
    <section v-if="!loading" class="info-box grey lighten-3 col s12">
      <article class="current-info">
        <img src="@/assets/profile-icon.png" alt class="circle responsive-img" />
        <div class="text-info">
          <p>
            <i class="material-icons left">person_outline</i>
            {{name}}
          </p>
          <p>
            <i class="material-icons left">local_phone</i>
            {{phone}}
          </p>
          <p v-if="rating != 0">
            <i class="material-icons left">star</i>
            {{rating}}
          </p>
          <p v-else>
            <i class="material-icons left">error_outline</i>You don't have a rating
          </p>
        </div>
      </article>
    </section>
    <form v-if="!loading" class="form grey lighten-3 col s12" @submit.prevent="submitHandler">
      <article class="input-field">
        <input
          id="description"
          type="text"
          maxlength="25"
          v-model="newName"
          :class="{invalid: $v.name.$dirty && !$v.name.required}"
        />
        <label class="active" for="description">New name</label>
        <small class="helper-text invalid" v-if="$v.name.$dirty && !$v.name.required">Enter name</small>
      </article>
      <div class="input-field">
        <input
          id="phone"
          maxlength="12"
          type="text"
          placeholder="642052137 example"
          v-model.trim="newPhone"
          :class="{invalid: ($v.phone.$dirty && !$v.phone.required) || ($v.phone.$dirty && !$v.phone.minLength)}"
        />
        <label class="active" for="password">New phone number</label>
        <small
          class="helper-text invalid"
          v-if="$v.phone.$dirty && !$v.phone.required"
        >Write phone number</small>
        <small
          class="helper-text invalid"
          v-else-if="$v.phone.$dirty && !$v.phone.minLength"
        >Phone number must be more than {{$v.password.$params.minLength.min}} symbols.</small>
      </div>

      <div class="switch">
        <label>
          English
          <input type="checkbox" disabled />
          <span class="lever"></span>
          Spanish
        </label>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Update
        <i class="material-icons right">send</i>
      </button>
    </form>
  </main>
</template>   

<script>
import { mapGetters, mapActions } from 'vuex'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
export default {
  data: () => ({
    loading: true,
    name: null,
    rating: null,
    phone: null,
    newName: null,
    newPhone: null,
  }),
  validations: {
    name: { required },
    newName: { required },
    phone: { required, minLength: minLength(8), maxLength: maxLength(12) },
    newPhone: { required, minLength: minLength(8), maxLength: maxLength(12) },
  },
  mounted() {
    setTimeout(() => {
      this.setup()
    }, 2000)
  },
  computed: {
    ...mapGetters(['info']),
  },

  methods: {
    async setup() {
      this.name = await this.$store.getters.info.name
      this.phone = await this.$store.getters.info.phone
      this.rating = await this.$store.getters.info.rating
      this.newName = await this.name
      this.newPhone = await this.phone
      this.loading = false
    },
    ...mapActions(['updateInfo']),

    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      try {
        await this.updateInfo({
          name: this.newName,
          phone: this.newPhone,
        })
        this.$message('Information updated')
        this.loading = true
        this.setup()
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>


<style scoped>
.switch {
  margin-bottom: 2rem;
}
.info-box {
  border-radius: 10px;
  padding: 2rem;
}
.message {
  border-radius: 10px;
}
.current-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-info {
  margin-left: 2rem;
}
.form {
  padding: 2rem;
  margin-top: 0.5rem;
  border-radius: 10px;
}
.row {
  margin: 0 2vw;
}
img {
  width: 10rem;
}
@media screen and (max-width: 650px) {
  .text-info,
  .text-info i {
    font-size: 1rem;
  }
  img {
    width: 5rem;
  }
  .info-box {
    margin-top: 0.5rem;
  }
}
</style>
