<template>
  <section v-if="offer">
    <article class="card-panel">
      <div class="foto">
        <img src="@/assets/profile-icon.png" alt class="circle responsive-img" />
      </div>
      <article class="description">
        <strong class="black-text">{{ offer.authorName }}</strong>
        <p class="black-text">{{ offer.typeName }}</p>
        <big class="black-text">{{ offer.price | currency("EUR") }}</big>
        <small class="black-text">{{ offer.locationName }}</small>
      </article>
      <button
        @click="goToDetails(offer.id)"
        v-tooltip="'Contact'"
        class="details waves-effect waves-light teal accent-4"
      >
        <i class="material-icons right">navigate_next</i>
      </button>
    </article>
  </section>
</template>

<script>
export default {
  props: {
    offer: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {}
  },
  mounted() {
    console.log('single offers', this.offers)
    if (this.offers) {
      this.loading = false
    }
  },
  methods: {
    goToDetails(id) {
      this.$router.push('/detail/' + id)
    },
  },
}
</script>
<style scoped>
.card-panel {
  display: flex;
  width: 25vw;
  height: 22vh;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem 0rem 1rem 1rem;
  border-radius: 10px;
}
.details,
.foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}
.description {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0.5rem 0rem 0.5rem 1rem;
  height: 100%;
  width: 60%;
  align-items: space-between;
}
.details {
  border-radius: 50px 0 0 50px;
  transition: 0.3s;
  border-style: none;
}
.details:hover {
  transition: 0.5s;
}
p {
  height: 100%;
  margin: 0;
  font-size: 0.8rem;
}
strong {
  font-weight: 600;
  font-size: 1rem;
}
big {
  font-size: 1rem;
  font-weight: 800;
}
img {
  width: 6rem;
  height: auto;
}
i {
  cursor: pointer;
  margin: 0;
  padding: 0.5rem;
  color: white;
}
@media (min-width: 650px) and (max-width: 1000px) {
  .card-panel {
    width: 35vw;
  }
}
@media screen and (max-width: 650px) {
  .card-panel {
    width: 85vw;
    height: 20vh;
    margin: 1rem 0;
    border-radius: 10px;
  }
  img {
    width: 5rem;
    height: auto;
  }
}
</style>
