<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>
<script>
import EmptyLayout from '@/layouts/EmptyLayout'
import MainLayout from '@/layouts/MainLayout'
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'empty') + '-layout'
    },
  },
  components: { EmptyLayout, MainLayout },
}
</script>
<style lang="scss">
@import '~materialize-css/dist/css/materialize.min.css';
@import 'assets/index.css';
* {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.5px;
}
button {
  font-family: 'Quicksand', sans-serif;
}
.progress {
  padding: 0.3rem;
}
</style>
